@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-cinzel : "Cinzel Decorative", sans-serif;
}

@layer base {
  body {
    @apply bg-zinc-900;
  }
  h1{
    @apply font-cinzel text-3xl text-yellow-500 font-semibold;
  }
}
